[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dnspython = "*"
tornado = "==4.5.3"
pydle = {editable = true, git = "https://github.com/jbrunink/pydle"}
pure-sasl = {editable = true, git = "https://github.com/thobbs/pure-sasl"}
irc = "==16.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
